{% load static  %}
<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ibrahim CV</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static 'resume/css/aos.css' %}" rel="stylesheet">
        <link href="{% static 'resume/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'resume/css/main.css' %}" rel="stylesheet">

        
        <!-- favicons
        ================================================== -->
        <link rel="shortcut icon" href="{% static 'resume/images/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'resume/images/favicon.ico' %}" type="image/x-icon">
        
        <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
        </noscript>
    </head>
    <body id="top">
        <header>
            <div class="profile-page sidebar-collapse">
                <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
                    <div class="container">
                        <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Curriculum Vitea</a>
                            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
                        </div>
                        <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                                <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portfolio</a></li>
                                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="page-content">
        <div>
<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'resume/images/bg4.jpg' %}')"></div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image"><a href="{% static 'resume/images/mypics.jpg' %}"><img src="{% static 'resume/images/mypics.jpg' %}" alt="Image"/></a></div>
                    <div class="h2 title">Ibrahim Baba Junior</div>
                    <p class="category text-white">Web Developer, App Developer, Artificial Intelligience </p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="{% static 'resume/cv/resume.rar' %}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/ibrahim.baba.7543653" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/baba_jr2?s=09" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://gmail.com/" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://instagram.com/ibress9" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
                </div>
             </div>
        </div>
    </div>
</div>
<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About</div>
                        <p>Hello! I am Ibrahim Baba Junior and I am Web Developer, App Developer, and Artificial Intelligience Expert.</p>
                        <p>I am proffessional web and app designer with 3 years of experience, and also an expert in machine learning and deep learning programming. <a href="https://templateflip.com/templates/creative-cv/" target="_blank">Learn More</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                            <div class="col-sm-8">23</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                            <div class="col-sm-8">ibress1234@gmail.com</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                            <div class="col-sm-8">+2349015077503</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                            <div class="col-sm-8"> Sauka Kahuta minna Niger State </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                            <div class="col-sm-8">English, yoruba, Hausa </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="skill">
    <div class="container">
        <div class="h4 text-center mb-4 title">Professional Skills</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">HTML</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">90%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">CSS</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">JavaScript</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Bootstrap</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Mysql/ Mongodb database</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">python/Django</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Python/Kivy</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Machine / Deep Learning</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">Electrical/Electronics And Mechanical Design</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">CAD Design(Autocard, Solid Works)</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="h4 text-center mb-4 title">Portfolio</div>
                <div class="nav-align-center">
                    <ul class="nav nav-pills nav-pills-primary" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Photography" role="tablist"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content gallery mt-5">
            <div class="tab-pane active" id="web-development">
                <div class="ml-auto mr-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/c0.jpeg' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Recent Project</div>
                                            <p>App Development</p>
                                        </figcaption>
                                    </figure></a>
                                </div>
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/c1.PNG' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Startup Project</div>
                                            <p> App Development</p>
                                        </figcaption>
                                    </figure></a>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/instagram.PNG' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Instagram Clone Project</div>
                                            <p>App Development</p>
                                        </figcaption>
                                    </figure></a>
                                </div>
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#app-development">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/c3.PNG' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Online Shopping Project</div>
                                            <p>App Development</p>
                                        </figcaption>
                                    </figure></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="graphic-design" role="tabpanel">
                <div class="ml-auto mr-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/s1.PNG' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Spider Robot Pattern</div>
                                            <p>3D Design</p>
                                        </figcaption>
                                    </figure></a></div>
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/s2.PNG' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Spider/ Drone Pattern</div>
                                            <p>3D Design</p>
                                        </figcaption>
                                    </figure></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/s3.PNG' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Robot Arm Texture</div>
                                            <p>3D Design</p>
                                        </figcaption>
                                    </figure></a></div>
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/s4.PNG' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Electronic Box Design</div>
                                            <p>3D Design</p>
                                        </figcaption>
                                    </figure></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Photography" role="tabpanel">
                <div class="ml-auto mr-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/f1.jpg' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Arduino Circuit</div>
                                            <p>Electronics Circuit Design</p>
                                        </figcaption>
                                    </figure></a></div>
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/p2.jpg' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Blutooth Design Circuit</div>
                                            <p>Electronics Circuit Design</p>
                                        </figcaption>
                                    </figure></a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/p1.PNG' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Spider robot electronic circuit</div>
                                            <p>Electronics Circuit Design</p>
                                        </figcaption>
                                        </figure></a></div>
                            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                                    <figure class="cc-effect"><img src="{% static 'resume/images/s3.PNG' %}" alt="Image"/>
                                        <figcaption>
                                            <div class="h4">Robotic Arm</div>
                                            <p>Electronics Circuit Design</p>
                                        </figcaption>
                                    </figure></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="experience">
    <div class="container cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header">
                        <p>March 2016 - Present</p>
                        <div class="h5">Electronics Design</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Embedded System</div>
                        <p> electronics circuit Designs involving arduino, rasberry pi and plc(programmable logic controller) systems, and also electronics repairs.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header">
                        <p>March 2018 - Present</p>
                        <div class="h5">Fiverr</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Web and App</div>
                        <p> web and app design using html, css and javascript with react and python django with app design using Kivy and Kivymd and using databases such as Mysql, Mongodb.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header">
                        <p>2016</p>
                        <div class="h5">Information Processing(FIRC)</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Processing Software</div>
                        <p>Federal Information Resource Center, Minna Niger State Computer training Centre.I am Sound in Microsoft Suite Processing Softwares such as ms word, ms excel, ms powerpoint, ms outlook and corel Draw
                            Computer training And Report Writing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header">
                        <p>2017</p>
                        <div class="h5">OurSkills</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Intern</div>
                        <p>Our Skills for you Electrical and Electronics, solar and Streetlight Installations, Minna Niger State.
                            website:ourskills4u.com
                                Intern in Electrical, Solar and street light installations 
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2017 - present</p>
                        <div class="h5">Bachelor Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Bachelor of Mechatronics Engineering</div>
                        <p class="category">University of Technology, Minna</p>
                        <p>Federal University of Technology Minna, Niger State.
                            Diploma in Mechatronics Engineering</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2013 - 2016</p>
                        <div class="h5">High School</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Science</div>
                        <p class="category">Galaxy International College</p>
                        <p>Galaxy International School Minna, Niger State.
                            School leaving certificate, Waec and Neco</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p> 2013-2015</p>
                        <div class="h5">Junior High</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5"> Sciences and Art</div>
                        <p class="category">Divine Royal School </p>
                        <p>Recieved My School leaving at Divine Royal School Minna</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="reference">
    <div class="container cc-reference">
        <div class="h4 mb-4 text-center title">References</div>
        <div class="card" data-aos="zoom-in">
            <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
                    <li data-target="#cc-Indicators" data-slide-to="1"></li>
                    <li data-target="#cc-Indicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 cc-reference-header"><img src="{% static 'resume/images/futminna.PNG' %}" alt="Image"/>
                                <div class="h5 pt-2">HOD</div>
                                <p class="category">Head of Department Futminna</p>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <p> The Head of Department of Federal University of Technology Minna</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 cc-reference-header"><img src="{% static 'resume/images/firc.PNG' %}" alt="Image"/>
                                <div class="h5 pt-2">Austin Ameh</div>
                                <p class="category">Instuctor FIRC</p>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <p> Autin Ameh is a instructor and a teacher at the federal information resource Center computer training Centre.
                                    contacts:FIRC(Federal Information Resource centre)
                                    Tel: 08056082670
                                    E-mail: austechcomputers@gmail.com
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 cc-reference-header"><img src="{% static 'resume/images/skills.PNG' %}" alt="Image"/>
                                <div class="h5 pt-2">Mr Adam</div>
                                <p class="category">Electrical Installations and Consultation </p>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <p>Mr Adam is a professional electrical installation Expert and also an expert in solar instations and cctv installations.
                                    contacts: Our Skill For You Electrical and solar Installations.
                                    Tel: 08036901534
                                    Website: ourskill4u.com
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('{% static 'resume/images/r1.jpg' %}')">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-0" data-aos="zoom-in">
                            <div class="h4 text-center title">Contact Me</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <form action="https://formspree.io/your@email.com" method="POST">
                                            <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                                        <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                                                        <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                        <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-primary" type="submit">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="mb-0"><strong>Address </strong></p>
                                        <p class="pb-2">Sauka Kahuta minna, Niger State, Nigeria</p>
                                        <p class="mb-0"><strong>Phone</strong></p>
                                        <p class="pb-2">+2349015077503</p>
                                        <p class="mb-0"><strong>Email</strong></p>
                                        <p>ibress1234@gmail.com</p>
                                        <p>ibress1234@yahoo.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
        </div>
        <footer class="footer">
            <div class="container text-center"><a class="cc-facebook btn btn-link" href="#"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " href="#"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" href="#"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
            <div class="h4 title text-center">Baba Ibrahim Jr</div>
            <div class="text-center text-muted">
                <p>&copy; Ibrahim CV. All rights reserved.<br>Design - <a class="credit" href="#" target="_blank">TemplateFlip</a></p>
            </div>
        </footer>
    
        {% load static %}
        <script src="{% static 'resume/js/core/jquery.3.2.1.min.js' %}"></script>
        <script src="{% static 'resume/js/core/popper.min.js' %}"></script>
        <script src="{% static 'resume/js/core/bootstrap.min.js' %}"></script>
        <script src="{% static 'resume/js/aos.js' %}"></script>
        <script src="{% static 'resume/js/now-ui-kit.js' %}"></script>
        <script src="{% static 'resume/js/main.js' %}"></script>
    
    </body>
</html>